body
{
	background-color: #a5a5a5;
	font-family: arial;
}

#canvas{
	border : solid;
	background-color: white;
}
.icon
{
	background-color: white/*#ded9d9*/;
	width: 50px;
	height: 50px;
	border: solid 1px black;
	padding: 15px 25px;
	text-align: center;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 100%;
	box-shadow: 0 9px #999;

}
.icon:active
{
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
img{
	width: 20px;
	height: 20px;
}